OPENROUTER_API_KEY=

JWT_SECRET_KEY=
PASSWORD_SECRET_KEY = 

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_RECAPTCHA_SITE=
GOOGLE_RECAPTCHA_SECRET=

POSTGRES_USER=user
POSTGRES_PASSWORD=admin
POSTGRES_DB=db
POSTGRES_HOST=db
POSTGRES_PORT=5782
POSTGRES_EXTPORT=5783

